Posttest2

Dataset efootball-pes-2020-all-players

IMPORT PACKAGE
- Pandas

In [1]:
import pandas as pd

File CSV

In [3]:
dataset_pes = pd.read_csv("deets-updated.csv")

In [4]:
dataset_pes

,name,shirt_number,team_name,league,nationality,region,height,weight,age,foot,...,com_playing_style_incisive_run,com_playing_style_early_cross,com_playing_style_long_ball_expert,com_playing_style_long_ranger,height_over_185,age_u_24,age_25_29,age_30_plus,ball_color,rating_stars
0,NEYMAR,10,PSG,Ligue 1 Conforama,BRAZIL,South America,175,68,27,Right foot,...,1,0,0,0,0,0,1,0,black,5
1,M. NEUER,1,FC BAYERN MÜNCHEN,Other European Leagues,GERMANY,Europe,193,92,33,Right foot,...,0,0,0,0,1,0,0,1,black,5
2,EDU CAMPABADAL,22,LUGO RB,Spanish 2nd Division,SPAIN,Europe,178,77,26,Right foot,...,0,0,0,0,0,0,1,0,white,1
3,FRAN CRUZ,5,EXTREMADURA AR,Spanish 2nd Division,SPAIN,Europe,184,73,28,Right foot,...,0,0,0,0,0,0,1,0,white,1
4,DANI PINILLOS,23,BARNSLEY R,English 2nd Division,SPAIN,Europe,183,74,27,Left foot,...,0,1,1,0,0,0,1,0,white,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15030,A. BORUC,1,BOURNEMOUTH RB,English League,POLAND,Europe,193,87,39,Right foot,...,0,0,0,0,1,0,0,1,silver,3
15031,C. GORDON,1,CELTIC,Ladbrokes Premiership,SCOTLAND,Europe,193,83,37,Left foot,...,0,0,0,0,1,0,0,1,bronze,2
15032,C. BRAVO,1,MANCHESTER B,English League,CHILE,South America,184,80,36,Right foot,...,0,0,0,0,0,0,0,1,silver,3
15033,A. RODRÍGUEZ,5,ALIANZA LIMA,Other Latin American Teams,PERU,South America,183,78,35,Right foot,...,0,0,0,0,0,0,0,1,silver,3
15034,G. BUFFON,77,JUVENTUS,Serie A TIM,ITALY,Europe,191,83,41,Right foot,...,0,0,0,0,1,0,0,1,gold,4

Informasi jumlah record, nama attribute, jumlah attribute, tipe objek, jumlah attribute, tipe angka, jumlah attribute yang memiliki nilai null ke dalam Dictionary

In [22]:
jumlahRecord = len(dataset_pes)
namaAttribute = list(dataset_pes.columns)
jumlahAttributeObject = len(dataset_pes.select_dtypes(include = ["object"]).columns)
jumlahAttributeAngka = len(dataset_pes.select_dtypes(include = ["number"]).columns)
jumlahAttributeNull = len(dataset_pes.columns[dataset_pes.isna().sum() > 0])

dictionaryPes = {
    "Jumlah Record             :": jumlahRecord,
    "Nama Attribute            :": namaAttribute,
    "Jumlah Attribute Object   :": jumlahAttributeObject,
    "Jumlah Attribute Angka    :": jumlahAttributeAngka,
    "Jumlah Attribute Null     :": jumlahAttributeNull,
}

pd.Series(dictionaryPes)

Jumlah Record             :                                                15035
Nama Attribute            :    [name, shirt_number, team_name, league, nation...
Jumlah Attribute Object   :                                                   11
Jumlah Attribute Angka    :                                                  113
Jumlah Attribute Null     :                                                    4
dtype: object

Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [14]:
dataset_pes.describe()

,height,weight,age,LWF,SS,CF,RWF,LMF,DMF,CMF,...,com_playing_style_speeding_bullet,com_playing_style_incisive_run,com_playing_style_early_cross,com_playing_style_long_ball_expert,com_playing_style_long_ranger,height_over_185,age_u_24,age_25_29,age_30_plus,rating_stars
count,15035.000000,15035.000000,15035.000000,13268.000000,13268.000000,13268.000000,13268.000000,15035.000000,15035.000000,15035.000000,...,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000,15035.000000
mean,180.711407,74.534885,25.218557,0.424028,0.432318,0.496382,0.423802,0.477353,0.476488,0.630529,...,0.126039,0.117792,0.104822,0.140605,0.179115,0.305354,0.480811,0.304623,0.214566,1.685999
std,6.791057,6.799473,4.881732,0.710452,0.636224,0.801221,0.705851,0.691317,0.724550,0.829586,...,0.331905,0.322372,0.306334,0.347625,0.383462,0.460573,0.499648,0.460263,0.410535,0.920933
min,148.000000,45.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,175.000000,70.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,180.000000,74.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,185.000000,79.000000,29.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,2.000000
max,207.000000,113.000000,43.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000

Menampilkan nilai korelasi attribute bertipe angka

In [16]:
dataset_pes.corr()

,height,weight,age,LWF,SS,CF,RWF,LMF,DMF,CMF,...,com_playing_style_speeding_bullet,com_playing_style_incisive_run,com_playing_style_early_cross,com_playing_style_long_ball_expert,com_playing_style_long_ranger,height_over_185,age_u_24,age_25_29,age_30_plus,rating_stars
height,1.000000,0.749955,0.123684,-0.217919,-0.118947,0.025451,-0.219217,-0.313125,-0.094878,-0.269465,...,-0.226761,-0.201983,-0.117381,0.054607,-0.080199,0.770665,-0.102872,0.032958,0.088252,0.089823
weight,0.749955,1.000000,0.215248,-0.181553,-0.074871,0.052270,-0.185537,-0.267613,-0.090904,-0.238974,...,-0.197316,-0.177468,-0.116335,0.029049,-0.058891,0.581746,-0.182135,0.049251,0.166454,0.141577
age,0.123684,0.215248,1.000000,0.085854,0.083593,0.027531,0.079805,0.148992,0.045025,-0.027707,...,-0.055058,-0.023122,0.059404,0.081761,0.085010,0.106253,-0.830592,0.223538,0.760272,0.353368
LWF,-0.217919,-0.181553,0.085854,1.000000,0.444202,0.337707,0.622525,0.593774,-0.240844,-0.067372,...,0.280608,0.427069,-0.000744,-0.136936,0.135602,-0.181027,-0.093656,0.082741,0.021102,0.187121
SS,-0.118947,-0.074871,0.083593,0.444202,1.000000,0.700843,0.437077,0.236931,-0.270430,-0.070568,...,0.131965,0.248146,-0.137070,-0.153407,0.143374,-0.087883,-0.078826,0.050625,0.039603,0.166620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
height_over_185,0.770665,0.581746,0.106253,-0.181027,-0.087883,0.017113,-0.172098,-0.283177,-0.113327,-0.250295,...,-0.186080,-0.159835,-0.130703,0.047561,-0.086366,1.000000,-0.082205,0.021487,0.075960,0.075991
age_u_24,-0.102872,-0.182135,-0.830592,-0.093656,-0.078826,-0.028182,-0.087332,-0.156901,-0.039234,0.027426,...,0.022005,0.007633,-0.064647,-0.073694,-0.090897,-0.082205,1.000000,-0.636936,-0.502980,-0.329454
age_25_29,0.032958,0.049251,0.223538,0.082741,0.050625,0.032805,0.085110,0.116172,0.011904,-0.011466,...,0.046477,0.030714,0.054213,0.022877,0.067706,0.021487,-0.636936,1.000000,-0.345936,0.172323
age_30_plus,0.088252,0.166454,0.760272,0.021102,0.039603,-0.002733,0.010538,0.060715,0.034403,-0.020524,...,-0.078888,-0.043724,0.017900,0.064043,0.034721,0.075960,-0.502980,-0.345936,1.000000,0.207771
rating_stars,0.089823,0.141577,0.353368,0.187121,0.166620,0.076156,0.179812,0.226567,0.091361,0.082774,...,0.124264,0.146324,0.061506,0.153709,0.231224,0.075991,-0.329454,0.172323,0.207771,1.000000

Merubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma

In [24]:
datase_pes_copy = dataset_pes.copy()

datase_pes_copy['weight'] = datase_pes_copy['weight']*0.001

datase_pes_copy

,name,shirt_number,team_name,league,nationality,region,height,weight,age,foot,...,com_playing_style_incisive_run,com_playing_style_early_cross,com_playing_style_long_ball_expert,com_playing_style_long_ranger,height_over_185,age_u_24,age_25_29,age_30_plus,ball_color,rating_stars
0,NEYMAR,10,PSG,Ligue 1 Conforama,BRAZIL,South America,175,0.068,27,Right foot,...,1,0,0,0,0,0,1,0,black,5
1,M. NEUER,1,FC BAYERN MÜNCHEN,Other European Leagues,GERMANY,Europe,193,0.092,33,Right foot,...,0,0,0,0,1,0,0,1,black,5
2,EDU CAMPABADAL,22,LUGO RB,Spanish 2nd Division,SPAIN,Europe,178,0.077,26,Right foot,...,0,0,0,0,0,0,1,0,white,1
3,FRAN CRUZ,5,EXTREMADURA AR,Spanish 2nd Division,SPAIN,Europe,184,0.073,28,Right foot,...,0,0,0,0,0,0,1,0,white,1
4,DANI PINILLOS,23,BARNSLEY R,English 2nd Division,SPAIN,Europe,183,0.074,27,Left foot,...,0,1,1,0,0,0,1,0,white,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15030,A. BORUC,1,BOURNEMOUTH RB,English League,POLAND,Europe,193,0.087,39,Right foot,...,0,0,0,0,1,0,0,1,silver,3
15031,C. GORDON,1,CELTIC,Ladbrokes Premiership,SCOTLAND,Europe,193,0.083,37,Left foot,...,0,0,0,0,1,0,0,1,bronze,2
15032,C. BRAVO,1,MANCHESTER B,English League,CHILE,South America,184,0.080,36,Right foot,...,0,0,0,0,0,0,0,1,silver,3
15033,A. RODRÍGUEZ,5,ALIANZA LIMA,Other Latin American Teams,PERU,South America,183,0.078,35,Right foot,...,0,0,0,0,0,0,0,1,silver,3
15034,G. BUFFON,77,JUVENTUS,Serie A TIM,ITALY,Europe,191,0.083,41,Right foot,...,0,0,0,0,1,0,0,1,gold,4

Menampilkan 10 record pertama dari attribute bertipe angka

In [26]:
dataset_pes.select_dtypes(include='number').head(10)

,height,weight,age,LWF,SS,CF,RWF,LMF,DMF,CMF,...,com_playing_style_speeding_bullet,com_playing_style_incisive_run,com_playing_style_early_cross,com_playing_style_long_ball_expert,com_playing_style_long_ranger,height_over_185,age_u_24,age_25_29,age_30_plus,rating_stars
0,175,68,27,2.0,2.0,1.0,1.0,2,0,1,...,1,1,0,0,0,0,0,1,0,5
1,193,92,33,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,1,0,0,1,5
2,178,77,26,0.0,0.0,0.0,1.0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,184,73,28,0.0,0.0,0.0,0.0,0,2,0,...,0,0,0,0,0,0,0,1,0,1
4,183,74,27,0.0,0.0,0.0,0.0,1,0,0,...,0,0,1,1,0,0,0,1,0,1
5,183,77,28,0.0,0.0,0.0,0.0,0,2,2,...,0,0,0,0,0,0,0,1,0,1
6,186,85,31,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,1,0,0,1,2
7,190,83,26,0.0,0.0,0.0,0.0,0,1,0,...,0,0,0,0,0,1,0,1,0,1
8,183,79,36,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,2
9,177,71,31,0.0,0.0,0.0,0.0,0,2,2,...,0,0,0,0,0,0,0,0,1,1

Menyimpan dataset dengan attribute bertipe angka ke dalam file CSV

In [28]:
dataset_pes.select_dtypes(include='number').to_csv('Attribute_file_angka.csv')